<div class="chat-container">
    <!-- Left Sidebar -->
    <div class="left-sidebar">
        <div class="profile-section">
            <div class="profile-pic">
                <!-- <img src="/public/favicon.ico" alt="Profile"> -->
                <div class="initials">TS</div>
            </div>
            <div class="status-icons">
                <!-- <div class="icon-circle">
                    <i class="fa-regular fa-clock"></i> -->
                <!-- </div> -->
                <div class="chat-name">{{username}}</div>
                <!-- <div class="icon-circle">
                    <i class="fa-regular fa-file"></i>
                </div>
                <div class="icon-circle">
                    <i class="fa-regular fa-star"></i>
                </div> -->
            </div>
            <div style="display: flex;">
                <div class="contacts-section">
                    <div class="contacts-icon">
                        <i class="fa-regular fa-user"></i>
                    </div>
                </div>
                <div class="stats-section">
                    <div class="stats-icon">
                        <i class="fa-solid fa-chart-simple"></i>
                    </div>
                </div>
                <div class="video-section">
                    <div class="video-icon">
                        <i class="fa-solid fa-video"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-container">
            <div class="search-box">
                <input type="text" placeholder="Busca nuevos usuarios" (input)="searchNewContacts($event)">
                <i class="fa-solid fa-search"></i>
            </div>
                @for (user of usersFind; track user.userId) {
                    <div id="sidebarOptions" *ngIf="usersFind.length>0 && isContactSaved==false" class="contextual-menu sidebar-options-contacts">
                                
                        <div class="menu-item">
                            <i class="fa-solid fa-user"></i>
                            <span>{{user.username}}</span>
                            @if(user.yaEstaEnContactos ==false){
                                <button class="demo-button" (click)="addNewContact(user.userId, user.username)">Agregar Contacto</button>
                            }@else{
                                <button class="demo-button">Mira tus mensajes</button>
                            }
                            
                        </div>
                    </div>
                }
        </div>
        <div class="recent-chats">
            <div class="recent-header">
                <span>Last chats</span>
                <button class="add-chat"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="chat-list">
                <!-- <div class="chat-item active">
                    <div class="chat-avatar">
                        <img src="/placeholder.svg?height=40&width=40" alt="Real estate deals">
                    </div>
                    <div class="chat-details">
                        <div class="chat-name">Real estate deals</div>
                        <div class="chat-preview">typing...</div>
                    </div>
                    <div class="chat-time">11:15</div>
                </div> -->
                @for(contacts of contactsForUser; track contacts.contactUserId){
                    <div [class.active] = "childIdContact == contacts.contactUserId" class="chat-item" (click)="createChat(contacts.contactUserId)" >
                        <div class="chat-avatar">
                            <div class="initials">{{(contacts.nickName || 'Unknown') | initials}}</div>
                        </div>
                        <div class="chat-details">
                            <div class="chat-name">{{contacts.nickName}}</div>
                            <div class="chat-preview">Are you going to a house...</div>
                        </div>
                        <div class="chat-time">10:55</div>
                        <div class="more-options"  (click)="moreOptionsContacts(contacts.nickName || 'Unknown')">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    
                        <!-- *ngIf = "childIdContact == contacts.contactUserId && isShowOptionsContacts"  -->
                        <div id="sidebarOptions"  *ngIf = "childIdContact == contacts.contactUserId && isShowOptionsContacts" class="contextual-menu sidebar-options">
                            
                            <!-- <div class="menu-item">
                                <i class="fa-solid fa-eye-slash"></i>
                                <span>Ocultar de la barra lateral</span>
                            </div> -->
                            <div class="menu-item">
                                <i class="fa-solid fa-thumbtack"></i>
                                <span>Agregar a Favoritos y Pinear</span>
                            </div>
                            <div class="menu-item">
                                <i class="fa-solid fa-pen"></i>
                                <span>Cambiar nombre de contacto</span>
                            </div>
                        </div>
                    
                }

                
                
            </div>
        </div>

        <div class="recent-chats-groups">
            <div class="recent-header">
                <span>Grupos</span>
                <button class="add-chat" (click)="showItemsSideGroup()"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div id="sidebarOptions" *ngIf="isShowCreateGroup"  class="contextual-menu sidebar-options">
                            
                <!-- <div class="menu-item">
                    <i class="fa-solid fa-eye-slash"></i>
                    <span>Ocultar de la barra lateral</span>
                </div> -->
                <div class="menu-item" (click)="modalCreateGroup()">
                    <i class="fa-solid fa-people-group"></i>
                    <span>Crear un nuevo grupo</span>
                </div>
            </div>


            <!------------------------------ BUSCADOR DE GRUPOS ------------------------------------------>
            <div class="search-container">
                <div class="search-box">
                    <input type="text" placeholder="Únete a nuevos grupos" (input)="searchNewGroups($event)">
                    <i class="fa-solid fa-search"></i>
                </div>
                    @for (group of groupsFiltered; track group.groupId) {
                        @if (isShowGroupsSearched) {
                            <div id="sidebarOptions"  class="contextual-menu sidebar-options-contacts">
                                    
                                <div class="menu-item">
                                    <i class="fa-solid fa-user"></i>
                                    <span>{{group.nameGroup}}</span>
                                    @if(group.isSubscript==true){
                                        <button class="demo-button">Mira tus mensajes</button>
                                    }@else{
                                        <button class="demo-button" (click)="addNewGroup(group.groupId)">Agregar Grupo</button>
                                        
                                    }
                                    
                                </div>
                            </div>

                        }
                        
                    }
            </div>
            <!------------------------------ MODAL PARA NUEVO GRUPO ------------------------------------------>
            <div class="modal-overlay" *ngIf="isShowModalCreateGroup">
                <div class="modal">
                    <div class="modal-header">
                        <div class="modal-title">Crear nuevo GRUPO</div>
                        <!-- <button class="modal-close">
                            <i class="fa-solid fa-xmark"></i>
                        </button> -->
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label" for="chatName">Nombre del GRUPO</label>
                            <input type="text" id="chatName" class="form-input" #inputNameGroup  placeholder="Ej: Grupo de Literatura Griega">
                            <div class="form-hint">Elige un nombre descriptivo para tu GRUPO</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" (click)="cancelCreationGroup()">Cancelar</button>
                        <button class="btn btn-primary" (click)="createNewGroup(inputNameGroup)">Crear</button>
                    </div>
                </div>
            </div>
            <!------------------------------ ACABA MODAL PARA GRUPO ------------------------------------------>

            <div class="chat-list">
                <!-- <div class="chat-item active">
                    <div class="chat-avatar">
                        <img src="/placeholder.svg?height=40&width=40" alt="Real estate deals">
                    </div>
                    <div class="chat-details">
                        <div class="chat-name">Real estate deals</div>
                        <div class="chat-preview">typing...</div>
                    </div>
                    <div class="chat-time">11:15</div>
                </div> -->
                @if(groupsForUser.length==0 || groupsForUser == null){
                    <div style="display: flex; justify-content: center; align-items: center; padding: 15px;  background-color: #E0F2F1; border-radius: 15px;">
                        <p>No tienes ningún grupo. Crea uno ahora mismo!!!</p>
                    </div>
                        
                }
                @for(groups of groupsForUser; track groups.groupId){
                    
                    <div class="chat-item" (click)="createGroupSaloon(groups.groupId, groups.nameGroup)">
                        <div class="chat-avatar">
                            <div class="initials">{{(groups.nameGroup) | initials}}</div>
                        </div>
                        <div class="chat-details">
                            <div class="chat-name">{{groups.nameGroup}}</div>
                        </div>
                        <div class="chat-time">10:55</div>
                        <div class="more-options" >
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    
                        <!-- <div id="sidebarOptions"  *ngIf = "childIdContact == contacts.contactUserId && isShowOptionsContacts" class="contextual-menu sidebar-options">
                            
                            <div class="menu-item">
                                <i class="fa-solid fa-eye-slash"></i>
                                <span>Ocultar de la barra lateral</span>
                            </div> 
                            <div class="menu-item">
                                <i class="fa-solid fa-thumbtack"></i>
                                <span>Agregar a Favoritos y Pinear</span>
                            </div>
                            <div class="menu-item">
                                <i class="fa-solid fa-pen"></i>
                                <span>Cambiar nombre de contacto</span>
                            </div> 
                        </div> -->
                    
               } 

                
                
            </div>
        </div>
    </div>

    <app-chat [hidden]="isShowPrivateChatComponent" [contactCurrentName] = "contactCurrentName" [childIdContact]="childIdContact"  [childIdUserCurrent]="childIdUserCurrent" [isShowMessagesContact] = "isShowMessagesContact" [isShowPresentationChat] = "isShowPresentationChat" [nameChat] = "nameChat"  (isShowShares)="showShares($event)"></app-chat>

    <app-group [hidden]="isShowGroupComponent" [nameGroup]="nameGroup" [groupId] = "groupId"  [groupParticipantsArray] = "groupParticipantsArray" (isShowSharesGroup)="showSharesGroup($event)"></app-group>

    <app-shares [hidden]="hideOrShowShares" [nameChat] = "nameChat">

    </app-shares>
</div>

