<div class="right-sidebar">
    <div class="sidebar-header">
        <div class="group-title">
            <h3>Archivos compartidos</h3>
            <!-- <span>10 members</span> -->
        </div>
    </div>
    <div class="file-stats">
        <div class="stat-card">
            <div class="stat-icon documents">
                <i class="fa-regular fa-file"></i>
            </div>
            <div class="stat-number">231</div>
        </div>
        <div class="stat-card">
            <div class="stat-icon images">
                <i class="fa-regular fa-image"></i>
            </div>
            <div class="stat-number">45</div>
        </div>
    </div>
    <div class="file-section">
        <div class="file-header">
            <span>Tipos de archivos</span>
            <button class="more-options"><i class="fa-solid fa-ellipsis-vertical"></i></button>
        </div>
        <div class="file-types">
            <div class="file-type">
                <div class="file-icon documents">
                    <i class="fa-regular fa-file-lines"></i>
                </div>
                <div class="file-info">
                    <div class="file-name">Documentos</div>
                    <div class="file-count">124 files, 193MB</div>
                </div>
                <div class="file-action">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="file-type">
                <div class="file-icon photos">
                    <i class="fa-regular fa-image"></i>
                </div>
                <div class="file-info">
                    <div class="file-name">Fotos</div>
                    <div class="file-count">53 files, 315MB</div>
                </div>
                <div class="file-action">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="file-type">
                <div class="file-icon movies">
                    <i class="fa-solid fa-film"></i>
                </div>
                <div class="file-info">
                    <div class="file-name">Películas</div>
                    <div class="file-count">8 files, 720MB</div>
                </div>
                <div class="file-action">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="file-type">
                <div class="file-icon other">
                    <i class="fa-regular fa-folder"></i>
                </div>
                <div class="file-info">
                    <div class="file-name">Otros</div>
                    <div class="file-count">89 files, 415MB</div>
                </div>
                <div class="file-action">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>